openapi: 3.1.0
info:
  title: Awair Home & OAuth Developer Air Data Devices API
  version: v1
  description: The Awair Home & OAuth Developer API (operated by Bitfinder, Inc., d/b/a Awair) gives developers, partners, and hobbyists programmatic access to Awair indoor air quality (IAQ) devices on behalf of Awair users. It exposes the authenticated user profile, the user's registered devices, and time-series air-data readings (Awair Score plus temperature, humidity, CO2, VOC, and PM2.5) at latest, raw, 5-minute-average, and 15-minute-average granularity. Requests are authorized with an OAuth 2.0 access token (or a Developer Console access token) presented as an HTTP Bearer token.
  contact:
    name: Awair Developer Support
    email: developer@getawair.com
    url: https://docs.developer.getawair.com/
  termsOfService: https://getawair.com/pages/legal
  x-provenance:
    generated: '2026-07-18'
    method: generated
    source: https://docs.developer.getawair.com/ ; https://support.getawair.com/hc/en-us/articles/360049982333-Using-Awair-Developer-APIs ; https://python-awair.readthedocs.io/en/latest/python_awair.html
    note: Faithful capture of the publicly documented Awair cloud API surface. Awair does not publish an OpenAPI document; endpoints, methods, query parameters, and response fields are transcribed from the official developer docs and support articles. Response schemas are modeled from documented fields and kept minimal (no fabricated properties).
servers:
- url: https://developer-apis.awair.is/v1
  description: Awair cloud developer API (production)
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Devices
  description: Devices registered to the authenticated user
paths:
  /users/self/devices:
    get:
      operationId: listDevices
      summary: List the user's devices
      description: Returns every Awair device registered to the authenticated user.
      tags:
      - Devices
      responses:
        '200':
          description: The list of the user's devices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/QuotaExceeded'
components:
  responses:
    QuotaExceeded:
      description: Per-device daily quota for this endpoint/tier has been exceeded.
    Unauthorized:
      description: Missing or invalid access token.
  schemas:
    Device:
      type: object
      description: An Awair device registered to the user.
      properties:
        deviceType:
          type: string
        deviceId:
          type: integer
        deviceUUID:
          type: string
        name:
          type: string
        macAddress:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        roomType:
          type: string
        spaceType:
          type: string
        locationName:
          type: string
        timezone:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Awair Developer Console access token or OAuth 2.0 access token.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization-code flow for third-party access to Awair user data.
      flows:
        authorizationCode:
          authorizationUrl: https://oauth2.awair.is/v2/authorize
          tokenUrl: https://oauth2.awair.is/v2/token
          scopes: {}
